.user{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-bottom:5px ;
}
.user-detail{
    margin-left: 70px;
}
.user-detail h4{
    color: blue;
    /* font-weight: 400; */
}
.user-detail button {
    background-color: lightseagreen;
    width: 120px;
    height: 30px;
    margin: 3px;
    font-weight: 600;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
}
.user-img img{
    width: 250px;
    height: 200px;
    border-radius: 10%;
    padding: 5px;
}