.userContainer{
    display: flex;

}
.userList{
    width: 50%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
}
.userProfile h5, h3{
   /* margin-left: 100%; */
}
